.loginPage {
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: color;
    color: white;
}